.game {
  display: none;
}

.reset {
  display: none;
}

.dice-1 {
  height: 150px;
  width: 150px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:80px;
}
#dice-num {
  text-align: center;
  padding-bottom: 10px;
}
.winner {
  display: none;
}
